.head{
    background-color: darkgoldenrod;
    width: 100%;
    height: 80px;
}
img{
    float: left;
}
.search{
    margin-left: 520px;
    border: 1px;
}
.content{
    background-color: gray;
font-family: 'Merriweather', serif;
position: sticky;
top: 0px;
z-index: 1;
}
a{
    text-decoration: none;

}
a:hover{
    color: red;
}
.txtclr{
    color: black;
}
.mainimg{
    background-image: url(./images/book\ bg\ image.jpg);
    border: 1px solid black;
    height: 640px;
    background-size: cover;
    position: relative;
    
}
.quote{
width: 200px;
height: 200px;
position: absolute;
top:5%;
left:80%;
font-size: x-large;
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.row{
    display: flex;
}
.col{
    background-color: bisque;
    width: 300px;
    height: 325px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;



}
.books{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    border: 1px solid black;
}
button:hover{
    color: yellow;
    background-color: black;
    
}
.col:hover{
background-color: darkorange;
}
.foot{
    background-color: antiquewhite;
    width: 100%;
    height: 150px;
    display: flex;
}
.abc{
    margin-left: 300px;
    margin-top: 25px;
}
body{
    background-color: white;
}
.quote:hover{
    color: lime;
}